{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Home
{% endblock title %}
<!-- Delivery incentive banner -->
{% block delivery_banner %}
  {% include "includes/delivery-banner.html" %}
{% endblock delivery_banner %}
<!-- END Delivery incentive banner -->
<!-- Hero image -->
{% block hero_image %}
  {% include "includes/hero-image.html" %}
{% endblock hero_image %}
<!-- END Hero image -->
<div class="container-fluid"></div>
{% block content %}
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <form class="d-flex"
            role="search"
            action="{% url 'products:all_products' %}">
        <input class="form-control me-2"
               type="search"
               vale="search"
               name="q"
               required
               placeholder="Search our entire range..."
               aria-label="Search" />
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
          <span class="visually-hidden">Search</span>
        </button>
        <input type="checkbox"
               name="include-sold"
               id="include-sold"
               class="btn-check" />
        <label for="include-sold" class="btn btn-outline-secondary text-nowrap ms-2">Include sold?</label>
      </form>
    </div>
  </div>
  <hr />
  <h1>Retro Replay Homepage!</h1>
  <div id="message"></div>
  <p>{{ recent_products.count }} product{{ recent_products.count|pluralize }} found:</p>
  <!-- Recent products card loop -->
  <div class="row">
    {% for product in recent_products %}
      {% include "includes/product-list-card.html" %}
    {% endfor %}
  </div>
  <!-- END Recent products card loop -->
{% endblock content %}
{% block additional_scripts %}
{% endblock additional_scripts %}
