{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Home
{% endblock title %}
<!-- Delivery incentive banner -->
{% block delivery_banner %}
  {% include "includes/delivery-banner.html" %}
{% endblock delivery_banner %}
<!-- END Delivery incentive banner -->
<!-- Hero image -->
{% block hero_image %}
  {% include "includes/hero-image.html" %}
{% endblock hero_image %}
<!-- END Hero image -->
<div class="container-fluid"></div>
{% block content %}
  <h1>Retro Replay Homepage!</h1>
  <div id="message"></div>
  <p>{{ recent_products.count }} product{{ recent_products.count|pluralize }} found:</p>
  <!-- Recent products card loop -->
  <div class="row">
    {% for product in recent_products %}
      {% include "includes/product-list-card.html" %}
    {% endfor %}
  </div>
  <!-- END Recent products card loop -->
{% endblock content %}
{% block additional_scripts %}
  <script>const CSRF_TOKEN = '{{ csrf_token }}' </script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/status.js' %}"></script>
  <script>console.log(CSRF_TOKEN)</script>
{% endblock additional_scripts %}
