{% extends "base.html" %}
{% load static %}
{% block content %}
  <h3>Saved Addresses</h3>
  {% if not addresses %}<p>You currently have no saved addresses. You can add an address below.</p>{% endif %}
  {% for address in addresses %}
    <div class="row border rounded p-2 m-2">
      <div class="col-12">
        <h4>Saved Address {{ forloop.counter }}</h4>
        {% if address.default %}
          <p class="col-12 bg-success-subtle rounded text-center">Default address at checkout</p>
        {% endif %}
      </div>
      <hr />
      <div class="col-4 text-muted">Name</div>
      <div class="col-8">{{ address.name }}</div>
      <hr />
      <div class="col-4 text-muted">Address line 1</div>
      <div class="col-8">{{ address.address_line1 }}</div>
      <hr />
      {% if address.address_line2 %}
        <div class="col-4 text-muted">Address line 2</div>
        <div class="col-8">{{ address.address_line2 }}</div>
        <hr />
      {% endif %}
      <div class="col-4 text-muted">City</div>
      <div class="col-8">{{ address.city }}</div>
      <hr />
      <div class="col-4 text-muted">Postal code</div>
      <div class="col-8">{{ address.postal_code }}</div>
      <hr />
      {% if address.updated %}
        <div class="col-4 text-muted">Updated at</div>
        <div class="col-8">{{ address.updated|date:"d/m/Y" }}</div>
        <hr />
      {% endif %}
      <!-- Update and Delete controls -->
      <div class="row">
        <div class="col-12 d-flex justify-content-around">
          <!-- Button trigger modal -->
          <button class="btn btn-outline-danger modal-input"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
            Remove address <i class="bi bi-house-dash"></i>
          </button>
          <a href="{% url 'profiles:address_edit' address.uuid %}"
             class="btn btn-outline-primary">Update address <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
      <!-- END Update and Delete controls -->
    </div>
    <!-- Confirm address delete modal -->
    <!-- Modal inside loop to retain uuid context -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Address?</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">This will remove this address from your list of saved addresses.</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'profiles:address_delete' address.uuid %}"
               class="btn btn-danger">Remove</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Confirm address delete modal -->
  {% endfor %}
  <!-- Add address control -->
  <div class="row border rounded p-2 m-2 bg-success-subtle text-end">
    <a href="{% url 'profiles:address_add' %}"
       class="text-decoration-none link-dark">
      Add an address <i class="bi bi-chevron-right"></i>
    </a>
  </div>
  <!-- END Add address control -->
  <a href="{% url 'profiles:profile' %}" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Back to Profile Management</a>
{% endblock content %}
{% block additional_scripts %}
  <script src="{% static 'js/confirm-address-delete.js' %}"></script>
{% endblock additional_scripts %}
