{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Saved Addresses
{% endblock title %}
{% block content %}
  <h3>Saved Addresses</h3>
  <hr />
  {% if not addresses %}
    <p>
      You currently have no saved addresses. You can add an address below. Once you have added an address, you can select one as default to make your next checkout faster.
    </p>
  {% endif %}
  {% for address in addresses %}
    {% if not address.default %}
      <p>You currently have no default address set. Select a saved address to make your next checkout faster.</p>
    {% else %}
      <p>
        Your current default address can be viewed below. You may add more addresses and set a new default address if required.
      </p>
    {% endif %}
    <div class="row border rounded p-2 m-2">
      <div class="col-12 d-flex justify-content-between align-items-baseline mb-2">
        <h4>Saved Address {{ forloop.counter }}</h4>
        {% if not address.default %}
          <a href="{% url 'profiles:address_set_default' address.uuid %}"
             class="btn btn-sm btn-primary">Make Default</a>
        {% endif %}
      </div>
      {% if address.default %}
        <div class="col-12 bg-warning rounded text-center mb-2">Default address at checkout</div>
      {% endif %}
      <hr />
      <div class="col-4 text-muted">Name</div>
      <div class="col-8">{{ address.name }}</div>
      <hr />
      <div class="col-4 text-muted">Address line 1</div>
      <div class="col-8">{{ address.address_line1 }}</div>
      <hr />
      {% if address.address_line2 %}
        <div class="col-4 text-muted">Address line 2</div>
        <div class="col-8">{{ address.address_line2 }}</div>
        <hr />
      {% endif %}
      <div class="col-4 text-muted">City</div>
      <div class="col-8">{{ address.city }}</div>
      <hr />
      <div class="col-4 text-muted">Postal code</div>
      <div class="col-8">{{ address.postal_code }}</div>
      <hr />
      {% if address.updated %}
        <div class="col-4 text-muted">Updated at</div>
        <div class="col-8">{{ address.updated|date:"d/m/Y" }}</div>
        <hr />
      {% endif %}
      <!-- Update and Delete controls -->
      <div class="col-12 d-flex justify-content-around">
        <!-- Button trigger delete confirmation -->
        <button class="btn btn-outline-danger delete-ask">
          Remove <i class="bi bi-house-dash"></i>
        </button>
        <!-- END Button trigger delete confirmation -->
        <!-- Update address link -->
        <a href="{% url 'profiles:address_edit' address.uuid %}"
           class="btn btn-outline-primary">
          Update <i class="bi bi-chevron-right"></i>
        </a>
        <!-- END Update address link -->
      </div>
      <!-- Hidden delete confirmation control -->
      <div class="delete-do visually-hidden">
        <div class="col-12 d-flex justify-content-around">
          <div class="col-12 py-2">
            <strong>Confirm to remove this address from your list of saved addresses.</strong>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-around">
          <a href="{% url 'profiles:address_delete' address.uuid %}"
             class="btn btn-danger">Delete</a>
          <div class="btn btn-outline-secondary delete-go-back">Go Back</div>
        </div>
      </div>
      <!--  END Hidden delete confirmation control -->
      <!-- END Update and Delete controls -->
    </div>
  {% endfor %}
  <!-- Add address control -->
  <div class="row border rounded p-2 m-2 bg-success-subtle text-end">
    <a href="{% url 'profiles:address_add' %}"
       class="text-decoration-none link-dark">
      Add an address <i class="bi bi-chevron-right"></i>
    </a>
  </div>
  <!-- END Add address control -->
  <a href="{% url 'profiles:profile' %}" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Back to Profile Management</a>
{% endblock content %}
{% block additional_scripts %}
  <script src="{% static 'js/confirm-address-delete.js' %}"></script>
{% endblock additional_scripts %}
