{% extends "base.html" %}
{% block content %}
  <h3>Order Details</h3>
  <!-- Summary box -->
  <div class="row border rounded p-2 m-2">
    <div class="col-4 text-muted">Order date</div>
    <div class="col-8">{{ order.created }}</div>
    <div class="col-4 text-muted">Order number</div>
    <div class="col-8">{{ order.order_id }}</div>
    <div class="col-4 text-muted">Order total</div>
    <div class="col-8">
      £{{ order.amount }} <span class="text-muted">({{ items.count }} item{{ items.count|pluralize }})</span>
    </div>
  </div>
  <!-- END Summary box -->
  <!-- Shipping info box -->
  <h3>Shipping Information</h3>
  <div class="row border rounded p-2 m-2">
    <div class="col-12">{{ order.name }}</div>
    <div class="col-12">{{ order.address_line1 }}</div>
    {% if order.address_line2 %}<div class="col-12">{{ order.address_line2 }}</div>{% endif %}
    <div class="col-12">{{ order.city }}</div>
    <div class="col-12">{{ order.postal_code }}</div>
  </div>
  <!-- END Shipping info box -->
{% endblock content %}
