{% extends "base.html" %}
{% block title %}
  Retro Replay | Order Details from {{ order.created }}
{% endblock title %}
{% block content %}
  <h3>Order Details</h3>
  <!-- Summary box -->
  <div class="row border rounded p-2 m-2">
    <div class="col-4 text-muted">Order date</div>
    <div class="col-8">{{ order.created }}</div>
    <hr />
    <div class="col-4 text-muted">Order number</div>
    <div class="col-8">{{ order.order_id }}</div>
    <hr />
    <div class="col-4 text-muted">Delivery charge</div>
    <div class="col-8">£{{ order.delivery_charge }}</div>
    <hr />
    <div class="col-4 text-muted">Order total</div>
    <div class="col-8">
      £{{ order.amount }} <span class="text-muted">({{ items.count }} item{{ items.count|pluralize }})</span>
    </div>
  </div>
  <!-- END Summary box -->
  <!-- Shipping info box -->
  <h3>Shipping Information</h3>
  <div class="row border rounded p-2 m-2">
    <div class="col-12">{{ order.name }}</div>
    <div class="col-12">{{ order.address_line1 }}</div>
    {% if order.address_line2 %}<div class="col-12">{{ order.address_line2 }}</div>{% endif %}
    <div class="col-12">{{ order.city }}</div>
    <div class="col-12">{{ order.postal_code }}</div>
  </div>
  <!-- END Shipping info box -->
  <!-- Order items -->
  <h3>Order items</h3>
  {% for item in items %}
    <!-- Bootstrap 5 horizontal card: https://getbootstrap.com/docs/5.3/components/card/#horizontal -->
    <div class="card p-2 m-2">
      <div class="row g-0">
        <div class="col-4">
          <img src="{{ item.product.image.url }}"
               class="img-thumbnail mini-thumbnail"
               alt="Product image" />
        </div>
        <div class="col-8">
          <div class="card-body">
            <p class="card-title h5">{{ item.product.name }}</p>
            <p class="card-text">£{{ item.product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <!-- END Order items -->
  <a href="{% url 'profiles:order_list' %}" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Back to order history</a>
{% endblock content %}
