{% extends "base.html" %}
{% block title %}
  Retro Replay | Your Basket
{% endblock title %}
{% block content %}
  <h2>This is the basket summary page!</h2>
  <h3>Basket: {{ basket }}</h3>
  <ul>
    {% for item in basket %}
      <li>
        <h4>Basket item: {{ item }}</h4>
      </li>
      {% with product=item.product %}
        <li>Product: {{ product }}</li>
        <li>Price: £{{ product.price }}</li>
        <li>
          <button type="button"
                  class="btn btn-outline-danger remove-from-basket"
                  data-removal-index="{{ product.pk }}">Remove</button>
        </li>
        <li>
          <hr />
        </li>
      {% endwith %}
    {% endfor %}
  </ul>
  <h4>Basket subtotal: {{ basket.get_subtotal }}</h4>
{% endblock content %}
{% block additional_scripts %}
  <script>
  $(document).on("click", ".remove-from-basket", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      // Connect to a URL, which is connected to a view
      url: "{% url 'basket:remove_from_basket' %}",
      data: {
        productId: $(this).data('removal-index'),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        // Action that can be tested for type of request
        action: "post",
      },
      // Data is returned into the success function argument
      success: function (json) {
        console.log(json);
        console.log(json["product removed"])
        // Update basket quantity counter without refreshing the page
        document.getElementById("basket-qty").innerText = json["basket quantity"]
      },
      error: function (xhr, errmsg, err) {
        console.log(errmsg, err)
      },
    });
  });
  </script>
{% endblock additional_scripts %}
