{% extends "base.html" %}
{% block title %}
  Retro Replay | Your Basket
{% endblock title %}
{% block content %}
  <h2>This is the basket summary page!</h2>
  <h3>Basket: {{ basket }}</h3>
  <hr />
  <!-- Basket item(s) -->
  <!-- START individual basket item loop -->
  {% for item in basket %}
    {% with product=item.product %}
      <div class="basket-single-item" data-removal-index="{{ product.pk }}">
        <p>Product: {{ product }}</p>
        <p>Price: £{{ product.price }}</p>
        <button type="button"
                class="btn btn-outline-danger remove-from-basket"
                data-removal-index="{{ product.pk }}">Remove</button>
        <hr />
      </div>
    {% endwith %}
  {% endfor %}
  <!-- END individual basket item loop -->
  <!-- END Basket item(s) -->
  <!-- Basket summary -->
  <h4>
    Basket subtotal: £<span id="basket-subtotal">{{ basket.get_subtotal }}</span>
  </h4>
  <!-- END Basket summary -->
{% endblock content %}
{% block additional_scripts %}
  <script>
  $(document).on("click", ".remove-from-basket", function (e) {
    e.preventDefault();
    // The div to be removed when the user removes an item from their basket
    // The div is given the same data attribute and value as the remove button
    const divToRemove = $(this).data('removal-index');
    $.ajax({
      type: "POST",
      // Connect to a URL, which is connected to a view
      url: "{% url 'basket:remove_from_basket' %}",
      data: {
        productId: $(this).data('removal-index'),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        // Action that can be tested for type of request
        action: "post",
      },
      // Data is returned into the success function argument
      success: function (json) {
        console.log(json);
        console.log(json["product removed"])
        // Update basket quantity counter without refreshing the page
        document.getElementById("basket-qty").innerText = json["basket quantity"]
        // Remove the div that contains the basket item
        $(".basket-single-item[data-removal-index='" + divToRemove + "']").remove();
        // Update basket subtotal
        document.getElementById("basket-subtotal").innerText = json["basket subtotal"]
      },
      error: function (xhr, errmsg, err) {
        console.log(errmsg, err)
      },
    });
  });
  </script>
{% endblock additional_scripts %}
