{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Your Basket
{% endblock title %}
{% block content %}
  <h2>Your Basket Summary:</h2>
  <hr />
  {% if not basket %}
    <p>Your basket is empty! Come back after you have added something to your basket.</p>
    <a href="{% url 'products:all_products' %}" class="btn btn-primary"><i class="bi bi-chevron-left"></i> View all products</a>
  {% else %}
    <!-- Basket item(s) -->
    <!-- START individual basket item loop -->
    <!-- Give container an id to monitor for changes to update delivery charge -->
    <div id="basket-container">
      {% for item in basket %}
        {% with product=item.product %}
          <div class="basket-single-item" data-removal-index="{{ product.pk }}">
            <strong>{{ product }}</strong>
            <p class="text-muted">£{{ product.price }}</p>
            {% csrf_token %}
            <button type="button"
                    class="btn btn-outline-danger remove-from-basket"
                    id="remove-from-basket"
                    data-removal-index="{{ product.pk }}"
                    data-url="{% url 'basket:remove_from_basket' %}">Remove</button>
            <a href="{{ product.get_absolute_url }}"
               class="btn btn-outline-primary float-end">View <i class="bi bi-chevron-right"></i></a>
            <hr />
          </div>
        {% endwith %}
      {% endfor %}
    </div>
    <!-- END individual basket item loop -->
    <!-- END Basket item(s) -->
    <!-- Basket summary -->
    <!-- AJAX delivery incentive -->
    <p id="delivery-incentive" class="alert">
      <span class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </p>
    <strong>
      Item subtotal: £<span id="basket-subtotal">{{ basket.get_subtotal }}</span>
    </strong>
    <!-- AJAX delivery charge -->
    <!-- Bootstrap 5 loading spinner for dynamic calculation -->
    <p class="text-muted">
      Delivery charge: £<span id="delivery-charge">
      <span class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </span>
  </p>
  <!-- AJAX grand total -->
  <h4>
    Grand total: £<span id="grand-total">
    <span class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </span>
</h4>
<!-- END Basket summary -->
<!-- Option to keep shopping -->
<a href="{% url 'products:all_products' %}"
   class="btn btn-outline-primary"><i class="bi bi-chevron-left"></i> Keep Shopping</a>
<!-- Proceed to checkout -->
<a href="{% url 'payments:checkout' %}"
   class="btn btn-success float-end">Checkout <i class="bi bi-chevron-right"></i></a>
{% endif %}
{% endblock content %}
{% block additional_scripts %}
  <script>const FREE_DELIVERY_THRESHOLD = {{free_delivery_threshold}}</script>
  {% if basket %}
    <script src="{% static 'js/print-basket.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/remove-from-basket.js' %}"></script>
{% endblock additional_scripts %}
