.brand-logo {
  -webkit-text-stroke: 2px white;
  color: black;
  font-display: swap;
  font-family: "Pricedown Bl", sans-serif;
  font-size: 3rem;
}

.brand-navbar {
  background-color: #ffab00 !important;
}
