.brand-logo {
  -webkit-text-stroke: 2px black;
  color: white;
  font-display: swap;
  font-family: "Pricedown Bl", sans-serif;
  font-size: 3rem;
}

.brand-logo:hover {
  color: white;
}

.brand-navbar {
  background-color: darkorange !important;
}
