@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* Fonts */

@font-face {
  src: url("../fonts/pricedown-bl.ttf");
  font-family: "Pricedown Bl";
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
}

/* Navbar */

.brand-logo {
  -webkit-text-stroke: 2px white;
  color: black;
  font-size: 3rem;
  font-family: "Pricedown Bl", sans-serif;
}

.brand-logo:hover {
  transition: 0.3s;
  -webkit-text-stroke: 2px black;
  color: white;
}

.brand-navbar {
  background-color: #ffab00 !important;
}

/* Hero image */

.hero-image {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.hero-cover-parent {
  position: relative;
}

.hero-cover {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  border-radius: 15px;
  background-color: rgba(255, 171, 0, 0.7);
  padding: 1rem;
  width: 300px;
  height: min-content;
  color: white;
  text-align: center;
}

.hero-cover > * {
  font-weight: bold;
  font-size: 20px !important;
}

/* Order summary */

.mini-thumbnail {
  height: 100px !important;
}

/* Error page - 403 */

.error-403 {
  -webkit-text-stroke: 0.02em black;
  color: #dc3534;
  font-size: 8vw;
  font-family: "Pricedown Bl", sans-serif;
  text-align: center;
}

/* Footer */

.social-cta {
  color: black;
  font-size: 2rem;
}

/* Media queries */

@media screen and (min-width: 767.98px) {
  .hero-image {
    max-height: 33vh;
  }
}
