{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Checkout Summary
{% endblock title %}
{% block content %}
  <h2>Checkout Summary</h2>
  <hr />
  <div id="message" class="pb-2"></div>
  <div id="redirects">
    {% include "includes/home-button.html" %}
    <!-- Link to checkout hidden by default; enabled by status.js in event of payment failure -->
    <a href="{% url 'payments:checkout' %}"
       class="d-none btn btn-success"
       id="checkout-redirect"><i class="bi bi-basket"></i> Back to checkout</a>
  </div>
{% endblock content %}
{% block additional_scripts %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/status.js' %}"></script>
{% endblock additional_scripts %}
