{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Checkout
{% endblock title %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/pacman-awesome.css' %}" />
  <div>
    <h3>Checkout page</h3>
    <h4>Items to purchase:</h4>
    {% for item in basket %}
      {% with product=item.product %}
        <div class="basket-single-item">
          <p>Product: {{ product }}</p>
          <p>Price: £{{ product.price }}</p>
          <hr />
        </div>
      {% endwith %}
    {% endfor %}
  </div>
  <div>
    <!-- Return url for submission to Stripe in data attribute -->
    <form id="payment-form" data-return-url="{% url 'home:home' %}">
      <h3>Shipping Address</h3>
      <div id="address-element">
        <!-- Elements will create form elements here -->
      </div>
      <hr />
      <h3>Payment</h3>
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <hr />
      <div id="error-message">
        <!-- Display error message to your customers here -->
      </div>
      <button type="submit" class="btn btn-primary" id="pay-btn" data-stripe-client-secret={{ client_secret }}>
        <span id="pay-btn-text">Pay now</span>
        <span id="pacman-loader" class="d-none">
          <!-- Pac-Man loading spinner customized at https://icons8.com/preloaders/en/search/pac+man -->
          <svg xmlns:svg="http://www.w3.org/2000/svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               version="1.0"
               width="16px"
               height="16px"
               viewBox="0 0 128 128"
               xml:space="preserve">
            <g>
            <path fill="#ffffff" d="M64,0a64,64,0,0,1,64,64H0A64,64,0,0,1,64,0Z" />
            <animateTransform attributeName="transform" type="rotate" values="0 64 64;-40 64 64;0 64 64" dur="600ms" repeatCount="indefinite"></animateTransform>
            </g>
            <g>
            <path fill="#ffffff" d="M64,128A64,64,0,0,1,0,64H128A64,64,0,0,1,64,128Z" />
            <animateTransform attributeName="transform" type="rotate" values="0 64 64;40 64 64;0 64 64" dur="600ms" repeatCount="indefinite"></animateTransform>
            </g>
          </svg>
        </span>
      </button>
    </form>
  </div>
{% endblock content %}
{% block additional_scripts %}
  <script>const CSRF_TOKEN = "{{ csrf_token }}"</script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/checkout.js' %}"></script>
{% endblock additional_scripts %}
