<div class="container">
  <div class="row text-center">
    <hr />
    <!-- Social links -->
    <div class="col-12 col-lg-4">
      <a href="#">Socials</a>
    </div>
    <!-- END Social links -->
    <!-- Mailing list -->
    <div class="col-12 col-lg-4">
      <a href="#">Newsletter</a>
    </div>
    <!-- END Mailing list -->
    <!-- Support -->
    <div class="col-12 col-lg-4">
      <a href="{% url 'support:support' %}">FAQs/Contact</a>
    </div>
    <!-- END Support -->
  </div>
</div>
