<footer>
  <div class="container">
    <hr />
    <div class="row text-center ">
      <!-- Social links -->
      <div class="col-12 col-lg-4 justify-content-evenly d-flex">
        <a href="https://www.facebook.com/profile.php?id=61550327891860"
           rel="noopener"
           target="_blank"
           aria-label="Facebook link"
           class="social-cta"><i class="bi bi-facebook social-btn"></i></a>
        <a href="https://github.com/jts272"
           rel="noopener"
           target="_blank"
           aria-label="GitHub link"
           class=" social-cta"><i class="bi bi-github social-btn"></i></a>
        <a href="https://www.linkedin.com/in/joseph-smith-dev/"
           rel="noopener"
           target="_blank"
           aria-label="LinkedIn link"
           class=" social-cta"><i class="bi bi-linkedin social-btn"></i></a>
      </div>
      <!-- END Social links -->
      <!-- Mailing list -->
      <div class="col-12 col-lg-4">
        <a href="#">Newsletter</a>
      </div>
      <!-- END Mailing list -->
      <!-- Support -->
      <div class="col-12 col-lg-4 mb-3">
        <a href="{% url 'support:support' %}" class="btn btn-outline-dark">FAQs/Contact <i class="bi bi-info-circle"></i></a>
      </div>
      <!-- END Support -->
    </div>
  </div>
</footer>
