<footer>
  <div class="container">
    <hr />
    <div class="row text-center ">
      <!-- Support -->
      <div class="col-12 col-lg-4">
        <a href="{% url 'support:support' %}" class="btn btn-outline-dark mt-2">FAQs/Contact <i class="bi bi-info-circle"></i></a>
        <a href="https://www.privacypolicygenerator.info/live.php?token=a2MUpUbQvMZfUOkfgrkqyczOJVZuO2X4"
           rel="noopener"
           target="_blank"
           class="btn btn-outline-dark mt-2">Privacy Policy <i class="bi bi-card-text"></i></a>
      </div>
      <!-- END Support -->
      <!-- Mailing list -->
      <div class="col-12 col-lg-4">
        <!-- Mailchimp embed -->
        <div id="mc_embed_shell">
          <div id="mc_embed_signup">
            <form action="https://herokuapp.us12.list-manage.com/subscribe/post?u=5f0e28de320d8109f2d1366f7&amp;id=df9d989f4d&amp;f_id=00b360e0f0"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  class="validate text-center"
                  target="_blank">
              <div id="mc_embed_signup_scroll">
                <h2>Retro Replay Newsletter</h2>
                <div class="mc-field-group w-100">
                  <label for="mce-EMAIL">Enter your email address to subscribe!</label>
                  <input type="email"
                         name="EMAIL"
                         class="required email form-control"
                         id="mce-EMAIL"
                         required=""
                         value="" />
                  <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div class="response my-0 pt-0"
                     id="mce-error-response"
                     style="display: none;
                            width: 100%"></div>
                <div class="response my-0 pt-0"
                     id="mce-success-response"
                     style="display: none;
                            width: 100%"></div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="hidden"
                         name="b_5f0e28de320d8109f2d1366f7_df9d989f4d"
                         tabindex="-1"
                         value="" />
                </div>
                <div class="optionalParent">
                  <div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END Mailchimp embed -->
      </div>
      <!-- END Mailing list -->
      <!-- Social links -->
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 d-flex justify-content-evenly">
            <a href="https://www.facebook.com/profile.php?id=61550327891860"
               rel="noopener"
               target="_blank"
               aria-label="Facebook link"
               class="social-cta"><i class="bi bi-facebook social-btn"></i></a>
            <a href="https://github.com/jts272"
               rel="noopener"
               target="_blank"
               aria-label="GitHub link"
               class=" social-cta"><i class="bi bi-github social-btn"></i></a>
            <a href="https://www.linkedin.com/in/joseph-smith-dev/"
               rel="noopener"
               target="_blank"
               aria-label="LinkedIn link"
               class=" social-cta"><i class="bi bi-linkedin social-btn"></i></a>
          </div>
        </div>
      </div>
      <!-- END Social links -->
    </div>
  </div>
</footer>
