{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary brand-navbar">
  <div class="container-fluid">
    <a class="navbar-brand brand-logo" href="{% url 'home:home' %}">Retro Replay</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <hr />
      <!-- Navigation links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'products:all_products' %}">All Products</a>
        </li>
        <!-- Category dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Categories</a>
          <ul class="dropdown-menu">
            {% for category in categories %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'products:products_by_category' category.slug %}">{{ category.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <!-- END Category dropdown -->
        <!-- Plaform dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Platforms</a>
          <ul class="dropdown-menu">
            {% for platform in platforms %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'products:products_by_platform' platform.slug %}">{{ platform.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <!-- END Plaform dropdown -->
        <!-- Region dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Regions</a>
          <ul class="dropdown-menu">
            {% for region in regions %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'products:products_by_region' region.slug %}">{{ region.name }}
                  <!-- Assign relevant region icon, if provided -->
                  <!-- Images uploaded from admin panel to media folder specified on the model -->
                  {% if region.icon %}
                    <img src="{{ region.icon.url }}"
                         alt="{{ region }} icon"
                         class="float-end"
                         height="20"
                         width="20" />
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <!-- END Region dropdown -->
      </ul>
      <hr />
      <!-- END Navigation links -->
      <!-- Authentication controls -->
      {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="visually-hidden">Logged in as</span>
            <a href="{% url 'profiles:profile' %}" class="nav-link">
              <i class="bi bi-person-fill-check"></i> {{ user.username }} | Manage
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}"><i class="bi bi-person-fill-dash"></i> Logout</a>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <a class="nav-link" href="{% url 'account_login' %}">  <i class="bi bi-person-fill-add"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}"><i class="bi bi-person-lines-fill"></i> Register</a>
          </li>
        </ul>
      {% endif %}
      <hr />
      <!-- END Authentication controls -->
      <!-- Basket link -->
      {% if not user.is_authenticated %}
        <a href="{% url 'account_login' %}"
           class="btn btn-dark btn-outline-light border-2">
          Basket: Login to view
          <i class="bi bi-basket"></i>
        </a>
      {% else %}
        <a href="{% url 'basket:basket_summary' %}"
           class="btn btn-dark btn-outline-light border-2">
          Basket:
          <span id="basket-qty">
            {% with basket_qty=basket|length %}{{ basket_qty }}{% endwith %}
          </span> <i class="bi bi-basket"></i>
        </a>
      {% endif %}
      <!-- Spacer to extend mobile dropdown padding -->
      <div class="pb-2 d-md-none"></div>
      <!-- END Basket link -->
    </div>
  </div>
</nav>
