<div class="col-6 col-md-3">
  <div class="card mb-3">
    <div class="img-thumbnail m-3">
      <img src="{{ product.image.url }}"
           class="card-img-top "
           alt="Product image"
           height="256px"
           width="256px" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">£{{ product.price }}</li>
        <li class="list-group-item">{{ product.platform }}</li>
      </ul>
      <a href="{{ product.get_absolute_url }}"
         class="btn btn-success float-end">View <i class="bi bi-chevron-right"></i></a>
    </div>
  </div>
</div>
