{% load static %}
<div class="col-12 col-lg-6 offset-lg-3">
  <div class="card mb-3">
    <div class="img-thumbnail m-2 m-lg-3">
      {% if not product.image %}
        <img src="{% static 'images/no-photo.png' %}"
             class="card-img-top "
             alt="No product image" />
      {% else %}
        <img src="{{ product.image.url }}"
             class="card-img-top "
             alt="Product image" />
      </div>
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{ product.name }}</h4>
      <p class="card-text">Platform: {{ product.platform }}</p>
      <p class="card-text">Region: {{ product.region }}</p>
      <p class="card-text">£{{ product.price }}</p>
    </div>
  </div>
</div>
<!-- Purchase controls -->
<div class="col-12 col-lg-6 offset-lg-3 d-flex justify-content-between">
  <button onclick="history.back()" class="btn btn-outline-primary">
    <i class="bi bi-chevron-left"></i> Go Back
  </button>
  {% csrf_token %}
  {% if not user.is_authenticated %}
    <a href="{% url 'account_login' %}" class="btn btn-outline-success">Login to buy <i class="bi bi-basket"></i></a>
  {% else %}
    {% if product.pk not in basket_list %}
      <button type="button"
              class="btn btn-success"
              id="add-to-basket"
              value="{{ product.pk }}"
              data-url="{% url 'basket:add_to_basket' %}"
              data-in-basket="false">
        Add to Basket <i class="bi bi-basket"></i>
      </button>
    {% else %}
      <div class="btn btn-secondary disabled">
        In Basket <i class="bi bi-basket "></i>
      </div>
    {% endif %}
  {% endif %}
</div>
<!--  END Purchase controls -->
<!-- Item in basket warning -->
<!-- Dynamic: handle first user attempt to re-add to basket -->
<div class="container d-none" id="basket-warning-container">
  <div class="alert alert-warning mt-3" role="alert">
    Item is already in your basket! <a href="{% url 'basket:basket_summary' %}" class="float-end">View Basket</a>
  </div>
</div>
<!-- Static: after page refresh -->
{% if product.pk in basket_list %}
  <div class="container" id="basket-warning-container">
    <div class="alert alert-warning mt-3" role="alert">
      Item is already in your basket! <a href="{% url 'basket:basket_summary' %}" class="float-end">View Basket</a>
    </div>
  </div>
{% endif %}
<!-- END Item in basket warning -->
