{% load static %}
<div class="col-6 col-md-3 g-2 g-md-3">
  <div class="card mb-3">
    <div class="img-thumbnail m-2">
      {% if not product.image %}
        <img src="{% static 'images/no-photo.png' %}"
             class="card-img-top "
             alt="No product image" />
      {% else %}
        <img src="{{ product.image.url }}"
             class="card-img-top "
             alt="Product image" />
      {% endif %}
    </div>
    <div class="card-body">
      <p class="card-title h4">{{ product.name }}</p>
      <p class="card-text text-muted">{{ product.platform }}</p>
      <p class="card-text ">£{{ product.price }}</p>
      <a href="{{ product.get_absolute_url }}"
         class="btn btn-success float-end">View <i class="bi bi-chevron-right"></i></a>
    </div>
  </div>
</div>
