{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Viewing {{ product }}
{% endblock title %}
{% block content %}
  <div class="row">
    {% if product.pk in basket_list %}
      This item is in your basket
    {% else %}
      This item is not in your basket
    {% endif %}
    <!-- Detail product card -->
    {% include "includes/product-detail-card.html" %}
    <!-- END Detail product card -->
  </div>
{% endblock content %}
{% block additional_scripts %}
  <script src="{% static 'js/add-to-basket.js' %}"></script>
{% endblock additional_scripts %}
