{% extends "base.html" %}
{% block title %}
  Retro Replay | Browsing Products
{% endblock title %}
{% block content %}
  <!-- Conditional search bar -->
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <form class="d-flex" role="search">
        <input class="form-control me-2"
               type="search"
               name="q"
               required
               placeholder="{% if all_products_view %}Search our available range... {% elif sold_products_view %}Search sold products... {% else %} Search the {{ filter }} {{ collection }}... {% endif %} "
               aria-label="Search" />
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
          <span class="visually-hidden">Search</span>
        </button>
      </form>
    </div>
  </div>
  <hr />
  <!-- END Conditional search bar -->
  <!-- Queryset report -->
  {% if all_products_view %}
    <p>Showing results from all products - {{ products.count }} product{{ products.count|pluralize }} available:</p>
  {% elif sold_products_view %}
    <p>
      Showing results from all <em>sold</em> products - {{ products.count }} product{{ products.count|pluralize }} shown:
    </p>
  {% else %}
    <p>{{ products.count }} product{{ products.count|pluralize }} available for the {{ filter }} {{ collection }}:</p>
  {% endif %}
  <!-- END Queryset report -->
  <!-- Product card loop by queryset -->
  <div class="row">
    {% for product in products %}
      {% include "includes/product-list-card.html" %}
    {% endfor %}
  </div>
  <!-- END Product card loop by queryset -->
  <!-- Conditional navigation -->
  {% if all_products_view %}
    <a href="{% url 'home:home' %}" class="btn btn-primary"><i class="bi bi-house"></i> Home</a>
  {% else %}
    <a href="{% url 'products:all_products' %}" class="btn btn-primary"><i class="bi bi-chevron-left"></i> All Products</a>
  {% endif %}
  <!-- END Conditional navigation -->
{% endblock content %}
