{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col text-center">
      <h2>{{ product.name }}</h2>
      <div>Price: £{{ product.price }}</div>
      <div>Category: {{ product.category }}</div>
      <div>Region: {{ product.region }}</div>
      <button type="button"
              class="btn btn-success"
              id="add-to-basket"
              value="{{ product.pk }}">
        Add to Basket <i class="bi bi-basket"></i>
      </button>
    </div>
  </div>
{% endblock content %}
{% block additional_scripts %}
  {% comment %} <script src="{% static 'js/basket.js' %}"></script> {% endcomment %}
  <script>
    $(document).on("click", "#add-to-basket", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        // Connect to a URL, which is connected to a view
        url: "{% url 'basket:add_to_basket' %}",
        data: {
          productId: $("#add-to-basket").val(),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          // Action that can be tested for type of request
          action: "post",
        },
        // Data is returned into the success function argument
        success: function (json) {},
        error: function (xhr, errmsg, err) {
          console.log(errmsg, err)
        },
      });
    });
  </script>
{% endblock additional_scripts %}
