{% extends "base.html" %}
{% load static %}
{% block title %}
  Retro Replay | Viewing {{ product }}
{% endblock title %}
{% block content %}
  <div class="row">
    <!-- Detail product card -->
    {% include "includes/product-detail-card.html" %}
    <!-- END Detail product card -->
  </div>
{% endblock content %}
{% block js_messages %}
  <!-- JavaScript Messages -->
  <div class="container d-none" id="js-msg-container">
    <div class="alert alert-light alert-dismissible show fade mt-3"
         role="alert"
         id="alert">
      <strong id="js-msg-content">JavaScript Message</strong>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
              id="js-msg-close-btn"></button>
    </div>
  </div>
  <!-- END JavaScript Messages -->
{% endblock js_messages %}
{% block additional_scripts %}
  {% if user.is_authenticated %}
    {% if not product.sold %}
      {% if product.pk not in basket_list %}
        <script src="{% static 'js/add-to-basket.js' %}"></script>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock additional_scripts %}
