{% extends "base.html" %}
{% block title %}
  Retro Replay | Home
{% endblock title %}
Retro Replay | Home
{% block content %}
  <p>{{ products.count }} product{{ products.count|pluralize }} found:</p>
  {% for product in products %}
    <ul>
      <li>Product: {{ product.name }}</li>
      <li>Price: {{ product.price }}</li>
      <li>Category: {{ product.category }}</li>
      <li>Platform: {{ product.platform }}</li>
      <li>
        <a href="{% url 'products:product_detail' product.id %}">More details</a>
      </li>
    </ul>
  {% endfor %}
{% endblock content %}
